.img-container-width {
    width: 10rem
}

.shadow-md {
    box-shadow: 0rem .25rem .75rem rgba(0, 0, 0, .075);
}

.shadow-sm-blue {
    box-shadow: 0 .25rem .575em rgba(0, 58, 121, .175);
}

.shadow-sm-light {
    box-shadow: 0 .25rem .575em rgba(255, 255, 255, .25);
}

.shadow-sm-light-inset {
    box-shadow: inset 0 .25rem .575em rgba(0, 58, 121, .175);
}

.blue-background {
    background-image: linear-gradient(to bottom left, #e55d87, #5fc3e4)
}

.carousel-image-height {
    min-height: 550px;
    max-height: 550px;
}

.map-size {
    height: 25rem;
    width: 25rem;
}

.big-lead {
    font-size: 1.625rem;
    font-weight: 300;
}

.max-height-top {
    max-height: 100vh
}

@media (max-width: 992px) {
    .carousel-image-height {
        min-height: 400px;
        max-height: 400px;
    }
}

@media (max-width: 599px) {
    .map-size {
        max-width: 25rem
    }
}